* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 98vw;
  background-color: #8ab8bb;
}

main {
  display: flex;
  
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
}

form {
  width: 35%;
  height: 100%;
  text-align: start;
  background-color: #4e55b1;
  padding: 1rem;
  border-radius: .4rem;
  color: #faf8f8;
}

h2 {
  margin: .5rem 0 .5rem 0;
  color: #ffffff;
  text-align: center;
}

input {
  width: 100%;
  padding: .3rem;
  border-radius: .4rem;
  border: transparent;
  margin-bottom: .8rem;
  background-color: #8d90bb;
}

textarea {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  border: transparent;
  border-radius: .4rem;
  padding: .5rem;
  background-color: #8d90bb;
}

button {
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: .4rem;
  border: .15rem solid #7a7ebe;
  transition: .3s;
  color: #4e55b1;
  font-weight: bold;
} button:hover {
    background-color: #8d90bb;
    border: #ffffff solid .15rem;
    color: #ffffff;
}

.container-articles {
  background-color: #4e55b1;
  padding: 1rem;
  border-radius: .4rem;
}

.article-title {
  color: #101e44;
  text-align: center;
}

.article {
  background-color: #8d90bb;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: .4rem;
}

.article-author{
  color: #101e44;
  font-weight: bold;
}

.article-content{
  color: #ffffff;
}